body {
    background-image: url("../images/backgraund.jpg");
    background-size: 100% auto;
    background-repeat: repeat-y;
}

nav {
    background-color: lightblue;
}
 
a {
    color:black;
}

a:hover {
    cursor: pointer;
   
}

hr {
    color:gray;
}

.card {
    background-color:lightgoldenrodyellow;
}

.commentLink {
    color: red !important;
}

.secondary-content > .material-icons {
    color:red !important;
}